<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <div [ngClass]="{
    'text-right': chatService.user.uid === chat.uid
  }" *ngFor="let chat of chatService.chats">
    <span class="badge badge-pill" [ngClass]="{
      'badge-primary': chatService.user.uid === chat.uid,
      'badge-warning': chatService.user.uid !== chat.uid
    }">{{chat.userName}}</span>
    <p>{{chat.message}}</p>
  </div>
</div>
<br>
<input 
  name="message" 
  [(ngModel)]="message"
  (keyup.enter)="sendMessage()"
  type="text"
  class="form-control"
  placeholder="Enviar mensaje">